<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/generic/reset.css">
  <link rel="stylesheet" href="/css/generic/myreset.css">
  <link rel="stylesheet" href="/css/base/style.css">
  {% block head %}
    <title>Foodfy</title>
  {% endblock %}
</head>

<body>
  <header class="header center-940px">
    <div class="brand">
      <a href="/">
        <img src="/assets/logo.png" alt="logomarca da Foodfy">
      </a>
    </div>
    <nav>
      <ul>
        {% block li %}
          <li><a href="/about">Sobre</a></li>
          <li><a href="/recipes">Receitas</a></li>
        {% endblock %}
      </ul>
    </nav>
  </header>
  
  {% block content %}{% endblock %}
  
  <footer class="footer center-1400px">
    <p>Todos direitos reservados, receitas Foodfy.</p>
  </footer>

  {% block script %}{% endblock %}
</body>
</html>