{% extends "public/layout.njk" %}

{% block head %}
  <title>As melhores receitas culinárias</title>
{% endblock %}

{% block content %}
  <section class="banner center-940px">
    <div class="wrap-article">
      <header>
        <h1>As melhores receitas</h1>
      </header>
      <article>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </article>
    </div>
    <img src="./assets/chef.png" alt="chefe de cozinha">
  </section>
  <section class="recipes center-940px">
    <header>
      <h2>Mais acessadas</h2>
    </header>
    <div class="wrap-cards">
      {% for recipe in recipes %}
        <article class="card" id={{ recipe.id }}>
          <div class="wrap-image">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
          </div>
          <header class="card-title">
            <h3>{{ recipe.title }}</h3>
          </header>
          <p class="author-card main">por {{ recipe.chef_name }}</p>
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %} 

{% block script %}
  <script src="/scripts.js"></script>
{% endblock %}