{% extends "admin/layout.njk" %}

{% block content %}
  <div class="wrap-header chef">
    <h1 class="recipe-title">Chef: {{ chef.name }}</h1>
    <a href="/admin/recipes/{{ chef.id }}/edit">Editar Chef</a>
  </div>
  <div 
    class="avatar"
    style="background: url({{ chef.avatar_url }}) no-repeat center center/ cover">
  </div>
  <div class="wrap-title">
    <div>
      <h2 class="recipe-title">{{ chef.name }}</h2>
      <p class="recipe-author">
      {% if chef.total_recipes == 1 %}
       1 receita
      {% else %}
      {{ chef.total_recipes}} receitas
      {% endif %}
      </p>
    </div>
  </div>
{% endblock content %}