{% extends "admin/layout.njk" %}

{% block content %}
<form action="/admin/recipes" method="POST">
  <div class="item">
  <div>Imagem da Receita</div>
  <div>
    <input 
      type="text",
      name="image"
      value="teste"
    />
  </div>
</div>
  <button type="submit">Salvar receita</button>
</form>


{% endblock content %}