{% extends "admin/layout.njk" %}

{% block content %}
<main class="center-940px">
    <div class="wrap-header">
      <h1 class="admin-header">Criando Receita</h1>
      <button type="submit">Salvar receita</button>
    </div>
</main>


{% endblock content %}

