<div class="item">
  <div>Imagem da Receita</div>
  <div>
    <input 
      type="text",
      name="image"
      value="teste"
    />
  </div>
</div>

<div class="item">
  <div>Ingredientes</div>
  <div id="ingredients">
    <div class="ingredient">
      <input 
        type="text"
        name="ingredients[]"
      /> 
    </div>
  </div>
  <a class="add-ingredient" href="">Adicionar novo ingrediente</a>
</div>

<div class="item">
  <div>Modo de Preparo</div>
  <div id="steps">
    <div class="step">
      <input 
        type="text"
        name="preparation[]"
      /> 
    </div>
  </div>
  <a class="add-step" href="">Adicionar novo passo</a>
</div>

<div class="item">
  <div>Informações Adicionais</div>
  <div>
    <textarea name="information" cols="30" rows="10"></textarea>
  </div>
</div>