<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/generic/reset.css">
  <link rel="stylesheet" href="/css/generic/myreset.css">
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet" href="/css/base/style.css">
  {% block head %}
    <title>Foodfy</title>
  {% endblock %}
</head>

<body>
  <header class="header admin">
    <div class="center-940px">
      <div class="brand">
      <a href="/">
        <img src="/assets/logoAdmin.png" alt="logomarca da Foodfy">
      </a>
    </div>

  </header>
  <main class="center-940px">
    <h1 class="admin-header">
      {% block title %}{% endblock %}
    </h1>
    
    {% block content %}{% endblock %}
  </main>

  {% block script %}{% endblock %}
</body>
</html>