<header class="header-admin">
  <div class="wrap">
    <div class="brand">
      <a href="/">
        <img src="/assets/logoAdmin.png" alt="logomarca da Foodfy">
      </a>
    </div>
    <div class="links">
      <a href="/admin/recipes">receitas</a>
      <a href="/admin/chefs">chefs</a>
      <a href="/admin/users">usuários</a>
    </div>
    <div class="logout">
      <a href="/admin/users">sair</a>
    </div>
  </div>
  </header>