{% extends "admin/layout.njk" %}

{% block content %}
<form action="/admin/recipes" method="POST">
  <main class="center-940px">
      <div class="wrap-header">
        <h1 class="admin-header">Criando Receita</h1>
        <button type="submit">Salvar receita</button>
      </div>
  </main>
  {% include 'admin/fields.njk' %}
</form>


{% endblock content %}

