@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
  --color-salmon: #fbdfdb;
  --color-white: #fff;
  --color-hover: #ee806f;
  --color-text-primary: #111111;
  --color-text-secondary: #000;
  --color-text-author: #777;
  --color-text-content: #444;
  --color-text-background: #eee;
  --color-text-footer: #999;
  --color-purple: #6558c3;
  --color-danger: #dc4747
}


.focus {
  color: var(--color-hover);
}

.center-940px {
  max-width: 940px;
  margin: 0 auto;
}

.center-1400px {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: var(--color-text-primary);
}

.header.center-940px,
.header.admin > .center-940px{
  padding: 30px 0;
  display: flex;
  align-items: center;
  max-width: 940px;
  margin: 0 auto 20px;
}


.header.admin > .center-940px {
  padding: 25px 0;
  margin-bottom: 55px;
}

.header.admin {
  background-color: #111;
}

.brand {
  flex-grow:1
}

.header.admin .links {
  flex-grow:2;
}

.header.admin .links a {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 30px;
  color: #999;
}

.header.admin .links a:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  padding-bottom: 3px;
}
nav {
  flex-grow: 2
}

nav ul {
  display: flex;
  font-size: 1.6em
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text-primary)
}

nav ul li a:hover {
  
  color: var(--color-hover)
}

header .search > input {
  padding: 10px 15px;
  font-size: 1.4em;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-right: 8px;
}

.banner.center-940px {
  width: 100%;
  height: 366px;
  background-color: var(--color-salmon);
  border-radius: 30px;
  padding: 0 70px;
  display: flex;
  margin-bottom: 50px;
}

.wrap-article {
  flex-grow: 1;
  align-self: center;
  
}

.banner header {
  font-size: 3.2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner article {
  font-size: 1.8em;
  line-height: 1.5;
  color: var(--color-text-secondary);
  max-width: 316px;
}

.banner img {
  align-self: flex-end;
}

.recipes header {
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: 20px;
}

.wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin-bottom: 80px;
}



.wrap-cards .card{
  /* margin-bottom: 30px; */
  cursor: pointer
}

.wrap-cards .wrap-image {
  width: 100%;
  margin-bottom: 20px;
}

.wrap-cards .wrap-image img {
  width: 100%;
  height: 140px;
  border-radius: 15px;
}

.wrap-cards .card .card-title {
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.warp-cards .card .author-card {
  color: var(--color-text-author);
  font-size: 14px;
}

.author-card.main {
  font-size: 14px;
  color: var(--color-text-author);
} 

.footer {
  background-color: var(--color-text-background);
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: var(--color-text-footer);
  font-size: 1.4em; 
}


/* ABOUT */


.about:last-child {
  margin-bottom: 50px;
}

.about {
  margin-bottom: 30px;
}

.about header {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

.about header.title {
  font-size: 2.4em;
}

.about p {
  line-height: 1.6;
  font-size: 1.8em;
  color: var(--color-text-content);
}

.about p:last-child {
  margin-top: 20px;
}

/* MODAL */

.modal-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0, 0, 0.6);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
}

.modal-overlay.hidden {
  visibility: hidden;
}

.modal {
  width: 660px;
  height: 413px;
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 30px;
}

.modal .wrap-image {
  width: 600px;
  height: 200px;
  border-bottom: 20px;
  position:absolute;
  overflow: hidden;
  border-radius: 15px
}

.modal .wrap-image img {
  width: 100%;
  position: relative;
  top: -40px;
}

.modal .modal-title {
  color: var(--color-text-primary);
  font-size: 2.4em;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 220px;
}

.modal .modal-author {
  font-size: 1.8em;
  color: var(--color-text-author);
  text-align: center;
}

.modal .close-button {
  font-size: 1.6em;
  text-align: center;
  color: var(--color-text-footer);
  margin-top: 60px;
  cursor: pointer;
}

/* RECIPE */
.wrap-image-recipe {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 50px;
}

.wrap-image-recipe img {
  border-radius: 15px;
}

.recipe-title {
  font-size: 3.6em;
  font-weight: 700;
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: 4px;
}

.recipe-author {
  color: var(--color-text-author);
  font-size: 2em;
  text-align: center;
  /* margin-bottom: 50px; */
}

.wrap-recipe .title {
  font-size: 2.4em;
  color: var(--color-text-primary);
  font-weight: 700;
  display: inline-block;
  margin: 0 8px 20px 0;
}

.wrap-recipe .show-button {
  color: var(--color-text-footer);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.wrap-recipe .ingredients.hidde,
.wrap-recipe .preparation.hidde {
  display: none;
  overflow: hidden;
}

.wrap-recipe .content.hidde {
  display: none;
  overflow: hidden;
}

.wrap-recipe .list-item, 
.wrap-recipe .content {
  font-size: 1.8em;
  color: var(--color-text-content);
  line-height: 1.56;
}

.list-item {
  list-style-type: none;
  text-indent: -5px;
  margin-bottom: 8px;
}

.list-item:before {
  content: "-  ";
  text-indent: -5px
}

.list-item:last-child {
  margin-bottom: 0;
}

.wrap-recipe ul {
  margin-left: 20px;
  margin-bottom: 40px;
}

.wrap-recipe .content {
  margin-bottom: 40px;
  height: auto;
}


/* ADMIN PAGE*/

.admin-header {
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: 30px;
}

.admin.wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 10px;
  /* gap: 20%; */
  margin-bottom: 50px;
}

.admin.wrap-cards.chefs {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.admin.wrap-cards > .card {
  display: grid;
  grid-template-columns: 172px 1fr;
  margin: 0;
  cursor: auto;
}

.admin.wrap-cards.chefs > .card {
  grid-template-columns: 64px 1fr;
}

.admin.wrap-cards > .card > .wrap-image {
  margin: 0;
}

.admin.wrap-cards > .card > .wrap-image > img {
  width: 100%;
  height: 100%;
}

.admin.wrap-cards > .card > .info {
  margin: 0 0 5px 20px;
}

.admin.wrap-cards.chefs > .card > .info {
  margin: 0 0 0 10px;
}

.info.chef {
  display: grid;
  align-items: center;
}

.info > .card-title {
  font-size: 18px;
}

.info > .author-card,
.card > .author-card {
  color: var(--color-text-author);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info  a {
  text-decoration: none;
  font-size: 1.4em;
}

.info p {
  font-size: 1.4em;
  color: var(--color-text-author)
}

/* ADMIN CREATE PAGE */
.wrap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.wrap-header.chef {
  margin-bottom: 50px;
}

.wrap-header > .admin-header {
  margin: 0;
}

.wrap-header  button,
.wrap-title a,
.wrap-header a,
header button {
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: var(--color-purple);
  border-radius: 4px;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-weight: 700;
  height: 40px;
}

.wrap-header.chef h1,
.wrap-header.recipe h1{
  font-size: 24px;
}

.wrap-header button#delete-button-recipe,
.wrap-header button#delete-button-chef {
  background-color: var(--color-danger);
  margin-right: 10px;
}


/* ADMIN FIELDS */

form .item {
  font-size: 1.6em;
  color: var(--color-text-primary);
  margin-bottom: 30px;
}

form .item div {
  margin-bottom: 10px;
}

form .item div:nth-child(1) {
  font-weight: 700;
}

form .item input,
form .item select {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: var(--color-white);
}

form .item a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}

form .item textarea {
  width: 100%;
  height: 257px;
  resize: none;
}

.wrap-title {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.wrap-title a,
.wrap-header a {
  margin-left: 50px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 16px;
}

/* ADMIN FORM */

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
}

.avatar.mini {
  height: 64px;
  width: 64px;
  margin: 0;
}