{% extends "public/layout.njk" %}

{% block li%}
  <li><a href="/about">Sobre</a></li>
  <li><a href="/recipes">Receitas</a></li>
  <li><a class="focus" href="/chefs">Chefs</a></li>
{% endblock %}

{% block search %}
  <form class="search" style="visibility: hidden;" action="/recipes" method="get">
    <input
      type="text"
      placeholder="Buscar uma receita"
      name="search"
      value={{ search }}
    >
    <button type="submit">Buscar</button>
  </form>
{% endblock search %}

{% block content %}
<main>
  
  <div class="admin wrap-cards chefs">
    {% for chef in chefs %}
      <div class="card chef">
        <div 
          class="avatar mini"
          style="background: url({{ chef.avatar }}) no-repeat center center/ cover">
      </div>
        <div class="info chef">
          <div>
            <header class="card-title">
              <h2>{{ chef.name }}</h2>
            </header>
            <p>
              {% if chef.total_recipes == undefined %}
                Sem receitas no momento
              {% elif chef.total_recipes == 1 %}
                1 receita
              {% else %}
              {{ chef.total_recipes}} receitas
              {%endif%}

            </p>  
          </div>
        </div>
      
      </div> 
    {% endfor %}
  </div>
</main>
{% endblock content %}