{% extends "admin/layout.njk" %}

{% block content %}
<form id="form" method="POST">
  <main class="center-940px">
      <div class="wrap-header">
        <h1 class="admin-header">Editando Receita</h1>
        <div> 
          <button id="delete-button-recipe" type="submit">Deletar</button>
          <button id="save-button-recipe" type="submit">Salvar receita</button>
        </div>
      </div>
  </main>
  {% include 'admin/recipes/fields.njk' %}
  <input type="hidden" name="id" value={{recipe.id}}>
</form>


{% endblock content %}

{% block script %}
  <script src="/adds.js"></script>
  <script src="/form.js"></script>
{% endblock %}