{% extends "admin/layout.njk" %}

{% block head %}
  <title>Receita deliciosa de {{ recipe.title }}</title>
{% endblock %}

{% block li%}
  <li><a href="/about">Sobre</a></li>
  <li><a class="focus" href="/recipes">Receitas</a></li>
{% endblock %}

{% block content%}
  <div class="wrap-header">
    <h1 class="recipe-title">{{ recipe.title }}</h1>
    <a href="/admin/recipes/{{ recipe.id }}/edit">Editar Receita</a>
  </div>
  <div class="wrap-image-recipe">
    {% if not files[0] %}
      <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
    {% else %}
      <img 
        src="{{ files[0].src }}" 
        alt="{{files[0].name}}"
        onclick="LightBox.open()"
      >
    {% endif %}
  </div>
  <div class="lightbox-target">
    <img src="{{files[0].src}}" alt="{{files[0].name}}">
    <a 
      href="#" 
      class="lightbox-close"
      onclick="LightBox.close()"  
    >
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="photos-preview show">
    {% for image in files %}
      <div class="photo">
        <img 
          src="{{image.src}}" 
          alt="{{image.name}}"
          {% if loop.index0 == 0 %}
              class="active"
          {% endif %}
          onclick="ImageGallery.setImage(event)"
        >
      </div>
    {% endfor %}
  </div>
  <div class="wrap-title">
    <div>
      <h2 class="recipe-title">{{ recipe.title }}</h2>
      <p class="recipe-author">por {{ recipe.chef_name }}</p>
    </div>
  </div>

  <div class="center-940px">
    <div class="wrap-recipe">
        
        <h2 class="title">Ingredientes</h2>
        <span class="show-button" >ESCONDER</span>
      
      <ul class="ingredients">
      {% for ingredient in recipe.ingredients %}
        <li class="list-item">{{ ingredient }}</li>
      {% endfor %}
      </ul>
      <div class="gap"></div>

        <h2 class="title">Modo de preparo</h2>
        <span class="show-button">ESCONDER</span>

      <ul class="preparation">
      {% for step in recipe.preparation %}
        <li class="list-item">{{ step }}</li>
      {% endfor %}
      </ul>

      {# <p class="content" id="preparation">{{ recipe.preparation }}</p> #}
      <div class="gap"></div>

      <h2 class="title">Informações adicionais</h2>
      <span class="show-button">ESCONDER</span>
      <p class="content" id="information" >{{ recipe.information}}</p>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="/button.js"></script>
  <script src="/imagesGallery.js"></script>
{% endblock %}