{% extends "public/layout.njk" %}

{% block head %}
  <title>Receita deliciosa de {{ receita.title }}</title>
{% endblock %}

{% block li%}
  <li><a href="/about">Sobre</a></li>
  <li><a class="focus" href="/recipes">Receitas</a></li>
{% endblock %}

{% block content%}
  <div class="wrap-image-recipe">
    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
  </div>
  <h1 class="recipe-title">{{ recipe.title }}</h1>
  <p class="recipe-author">por {{ recipe.author }}</p>

  <div class="center-940px">
    <div class="wrap-recipe">
        
        <h2 class="title">Ingredientes</h2>
        <span class="show-button" >MOSTRAR</span>
      
      <ul class="ingredients">
      {% for ingredient in recipe.ingredients %}
        <li class="list-item">{{ ingredient }}</li>
      {% endfor %}
      </ul>
      <div class="gap"></div>

        <h2 class="title">Modo de preparo</h2>
        <span class="show-button">MOSTRAR</span>
     
      <p class="content" id="preparation">{{ recipe.preparation }}</p>
      <div class="gap"></div>

      <h2 class="title">Informações adicionais</h2>
      <span class="show-button">MOSTRAR</span>
      <p class="content" id="information" >{{ recipe.information}}</p>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="/button.js"></script>
{% endblock %}