<link rel="stylesheet" href="/css/generic/reset.css">
<link rel="stylesheet" href="/css/generic/myreset.css">
<link rel="stylesheet" href="/css/base/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">